.admin_bg {
  background-image: url("./../images/admin_bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 869px;
  height: 770px;
}

.profile_menu .active,
.profile_menu li:hover {
  color: #ff6b00;
}

.title-hr hr {
  display: inline-block;
  width: 30%;
  margin: 5px 10px;
  border-top: 1px solid #f7e1ef;
}
.hr {
  /* width: 80%; */
  border-top: 1px solid #f7e1ef;
  /* margin: 0 auto; */
}
