.admin_bg {
  background-image: url("./../images/admin_bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 869px;
  height: 770px;
}
.voucher_bg {
  background-image: url("./../images/voucher_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 128px;
  width: 290px;
  margin: 0 auto;
}

.profile_menu .active,
.profile_menu li:hover {
  color: #ff6b00;
}

.title-hr hr {
  display: inline-block;
  width: 30%;
  margin: 5px 10px;
  border-top: 1px solid #f7e1ef;
}
.hr {
  border-top: 1px solid #f7e1ef;
}

.track_order_input_frame {
  position: relative;
  transform: translateX(1em) perspective(100px) rotateY(9deg) skewY(0deg);
  border-radius: 6px !important;
  border-top-left-radius: 8px 24px !important;
  border-bottom-right-radius: 8px 24px !important;
}

@media screen and (max-width: 480px) {
  .track_order_input_frame {
    transform: translateX(1em) perspective(100px) rotateY(9deg) skewY(0deg) !important;
  }
}
