::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #fcd244;
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

.sidebar_bg {
  background-image: url("./../images/sidebar/sidebar_bg.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}
.font_muara {
  font-family: Muara;
}
.font_ebrima {
  font-family: Ebrima;
}

.body {
  max-width: 1365px;
  margin: auto;
}

/* Homepage */
/* Banner */

.banner_img_1 {
  background-image: url("./../images/banner/banner_bg_1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.banner_img_2 {
  background-image: url("./../images/banner/banner_bg_2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.banner_img_3 {
  background-image: url("./../images/banner/banner_bg_3.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.banner_solid_1 {
  background-image: url("./../images/banner/banner_solid_1.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.banner_solid_2 {
  background-image: url("./../images/banner/banner_solid_2.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.banner_solid_3 {
  background-image: url("./../images/banner/banner_solid_3.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.marquee_bg {
  background-image: url("./../images/zigzag.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Product Gallary */
.product_gallary_bg {
  background-image: url("./../images/product_gallary/product_gallary_bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* .custom_img_frame {
  border-top-left-radius: 100px 80px;
  border-top-right-radius: 460px 175px;
  border-bottom-left-radius: 110px;
  border-bottom-right-radius: 120px;
} */

.client_brand_bg {
  background-color: #fff;
  border-top-left-radius: 65px 72px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 65px 72px;
}

.custom_img_frame {
  position: relative;
  transform-origin: bottom left;
  transform: skewY(7deg);
  background: #000;
  border-radius: 85px;
  border-bottom-left-radius: 95px 110px;
  border-bottom-right-radius: 360px 150px;
}

.custom_img_frame_2 {
  position: relative;
  transform-origin: bottom left;
  transform: skewY(2deg);
  background: #000;
  border-radius: 30px;
  border-bottom-right-radius: 50px 35px;
}

/* Slider */

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
