::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #fcd244;
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

.sidebar_bg {
  background-image: url("./../images/sidebar/sidebar_bg.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}
.font_muara {
  font-family: Muara;
}
.font_ebrima {
  font-family: Ebrima;
}

/* Homepage */
/* Banner */

.banner_img_1 {
  background-image: url("./../images/banner/banner_bg_1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.banner_img_2 {
  background-image: url("./../images/banner/banner_bg_2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.banner_img_3 {
  background-image: url("./../images/banner/banner_bg_3.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.banner_solid_1 {
  background-image: url("./../images/banner/banner_solid_1.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.banner_solid_2 {
  background-image: url("./../images/banner/banner_solid_2.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.banner_solid_3 {
  background-image: url("./../images/banner/banner_solid_3.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.marquee_bg {
  background-image: url("./../images/zigzag.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Product Gallary */
.product_gallary_bg {
  background-image: url("./../images/product_gallary/product_gallary_bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* .custom_img_frame {
  border-top-left-radius: 100px 80px;
  border-top-right-radius: 460px 175px;
  border-bottom-left-radius: 110px;
  border-bottom-right-radius: 120px;
} */

.client_brand_bg {
  background-color: #fff;
  border-top-left-radius: 65px 72px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 65px 72px;
}

.custom_img_frame {
  position: relative;
  transform-origin: bottom left;
  transform: skewY(7deg);
  background: #000;
  border-radius: 85px;
  border-bottom-left-radius: 95px 110px;
  border-bottom-right-radius: 360px 150px;
}
